* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  padding: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.header h1 {
  font-size: 40px;
}
  
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  cursor: pointer;
  text-decoration: none;
}
  
.navbar a.right {
  float: right;
}
  
.navbar a:hover {
  opacity: 0.5;
}

/* Main */

.row {  
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
  
.main {   
  flex: 70%;
  background-color: white;
  padding: 20px;
}
  
.img {
  background-color: #aaa;
  border-radius: 7px;
  width: 50%;
}

.footer {
  padding: 5px;
  text-align: center;
  background: #ddd;
}

.rowGuest{
  margin: auto;
  width: 50%;
}

/* Upload */

.container{
  margin: 5px;
  padding: 5px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #1abc9c;
  border-radius: 10px;
  box-sizing: border-box;
}


#uploadButton{
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: #1abc9c;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

.footerUpload {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  background: #ddd;
}


.rowUpload{
  margin: auto;
  width: 50%;
}

/* Profile */

.sideProfile {
  padding: 20px;
  background-color: #f1f1f1;
}

#settings, #image{
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

#settings:hover, #image:hover{
  opacity: 0.8;
}


.profileSettings{
  flex: 70%;
  background-color: white;
  padding: 288px;
}


/* User */

.rowUser{
  margin: auto;
  width: 70%;
}

.footerUser {
  position: absolute;
  bottom: 0;
  padding: 5px;
  width: 100%;
  text-align: center;
  background: #ddd;
}

b{
  font-size: 20px;
  color: black;
}

li{
  color: #0b4d3f;
}

/* Message */

.sideMessage {
  padding: 20px;
  background-color: #f1f1f1;
}

#message, #sendMessage{
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  text-decoration: none;
  color: white;
  background-color: #333;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

#message:hover, #sendMessage:hover{
  opacity: 0.8;
}

.rowSendMessage{
  margin: auto;
  margin-bottom: 185px;
  width: 50%;
  padding: 15px;
}

#sendButton{
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: #1abc9c;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
}

.messages{
  margin: auto;
  width: 50%;
  padding: 5px;
  border: 3px solid #1abc9c;
  background-color: white;
  border-radius: 10px;
}

/* Event */

.rowEvent{
  margin: auto;
  width: 50%;
}

