body{
    background-color: #e6f5f2;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 3px solid #c7f1e9;
    border-radius: 10px;
}

.row{
    margin: auto;
    width: 50%;
    padding: 5px;
    border: 3px solid #1abc9c;
    background-color: white;
    border-radius: 10px;
}

.container{
    margin: 5px;
    padding: 5px;
}

button, a{
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: #1abc9c;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

button:hover, a:hover{
    opacity: 0.8;
}

label{
    margin-left: 5px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #1abc9c;
    border-radius: 10px;
    box-sizing: border-box;
}

